body {
      color: #003049;
      font-size: 20px;
      font-family: 'Gill Sans', sans-serif;      margin: 90;
      text-align: center;
      background-color: #fff;
      margin: 0px;
    }
        
    .header {
      background-color: #003049;
      padding: 20px;
      text-align: center;
      color: #ffffff;
      font-family: 'Gill Sans', sans-serif;
    }
    
    .topnav {
      text-align: center;
      overflow: hidden;
      background-color: #669BBC;
      display: flex;
      justify-content: center;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
    }
    
    .topnav a:hover {
      text-align: center;
      color: white;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
/* End of Generic Code */

/*  Squiggle */
   :root {
     --mainColor: navy;
   }
   
   .apple:hover {
     background-image: url("yeah.gif");
     background-position: 0 100%;
     background-size: auto 15px;
     background-repeat: repeat-x;
     text-decoration: none;
   }
   
/* End of Squiggle */

/* <reset-style> ============================ */
a {
  text-decoration: none;
}
/* <main-style> ============================ */
.scroll-up {
	/* position: fixed; */
 
  width: 40px;
  float: right;
  margin-right: 680px;
  margin-left: 1000px;
  margin-bottom: 100px;
  height: 40px;
  border-radius: 7px;
  background-color: #003049;
  display: flex;
  justify-content: flex-end;

}

.scroll-up:hover {
  transform: translateY(-.25rem);
}

/* Show scroll-up */
._show-scroll {
  bottom: 3rem;
}

@media (max-width: 1199.98px) {
  .scroll-up {
    left: 1rem;
  }
}


/* Wrapper */
.icon-button {
	background-color: #003049;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	line-height: 3.6rem;
	margin: 0 5px;
   height: 2.6rem;
	width: 2.6rem;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
   }

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
   margin-top: 25px;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 3.6rem;
	margin: -1.3rem;
}
.github span {
	background-color: #669BBC;
}
.email span {
	background-color: #669BBC;
}
.linkedin span {
	background-color: #669BBC;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 2.6rem;
   width: 2.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	z-index: 10;
}

.icon-button:hover .icon-github,
.icon-button:hover .icon-email,
.icon-button:hover .icon-linkedin {
	color: white;
}



      table, th, td {
        border:0px dotted #669BBC;
        padding: 20px;
      }